.authLayout {
  display: flex;
  align-content: center;
  height: 100svh;
  width: 100svw;
  overflow: hidden;
}

.authImageContainer {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
}

.authImage {
  width: 60%;
  height: 50%;
}

.childContainer {
  width: 40%;
  margin: auto;
}
